// COLORS
$woodsmoke: #0F1014;
$shark: #252830;
$bright-gray: #3A3F4B;
$dove-gray: #707070;
$dusty-gray: #969696;
$silver: #C9C9C9;
$sky-blue: #75C7F0;
$green: #00FF00;
$yellow: #FFFF00;
$white: #ffffff;
$red: #ff0000;
$blue: #0082c5;


$crimson: #ed1c24; 

// 10-step gradient
$grad-0: #ff0000;
$grad-1: #ff4000;
$grad-2: #ff8000;
$grad-3: #ffbf00;
$grad-4: #ffff00;
$grad-5: #ccff00;
$grad-6: #99ff00;
$grad-7: #66ff00;
$grad-8: #33ff00;
$grad-9: #00ff00;


// FONTS
$font-main: 'Ubuntu', sans-serif;
