@import 'vars';
@import 'fonts';
@import 'spinner';

html {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    min-height: 100%;
    height: 100%;
    position: relative;
    background-color: $woodsmoke;
    color: $white;
    font-family: $font-main;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
button {
  outline: none;
}
.main {
    max-width: 1280px;
    width: 100%;
    background-color: $shark;
    min-height: 100vh;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.nav {
    max-width: 1280px;
    width: 100%;
    background-color: $shark;
    height: 45px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    position: fixed;
    bottom: 0;
    border-top: 1px solid $bright-gray;
    z-index: 50;
    .button-wrapper {
        display: flex;
        align-items: center;
        height: 100%;
        .nav-buttons {
            height: 100%;
            display: flex;
            align-items: center;
            height: 100%;
        }
        .btn {
            background: transparent;
            border: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 32px;
            padding: 0;
            .btn-icon {
                height: 20px;
                display: inline-block;
            }
            &:disabled,
            &[disabled] {
                .btn-icon path {
                    fill: $dusty-gray;
                }
            }
        }
    }
    .logo {
        width: 100px;
        height: 11px;
    }
}

svg {
    .fill-red {
        fill: $crimson;
    }
    .fill-white {
        fill: $white;
    }
    .fill-blue {
        fill: $blue;
    }
    .fill-woodsmoke {
        fill: $woodsmoke;
    }
}

button.admin {
    background-color: transparent;
    border: 0;
    color: $white;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    line-height: 1;
    padding: 0 8px;
    height: 100%;
    
    .admin-icon {
        display: inline-block;

        margin-left: 4px;
        width: 16px;
        height: 14px;
    }
}

.content-panels {
    position: relative;
    height: calc(100vh - 45px);
    overflow: hidden;
}
.admin-panels {
    position: relative;
    height: calc(100vh - 45px);
    overflow: hidden;
    background-color: $shark;
    transform: translateY(-100%);
    position: absolute;
    top: 0px;
    z-index: 10;
    transition: transform 0.3s linear;
    &.show {
        transform: translateY(0%);
    }
}
#admin-login {
    min-width: 320px;
    width: 100%;
    min-height: 196px;
    height: 196px;
    
    .admin-header {
        background-color: $crimson;
        padding: 8px 15px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        h2 {
            margin: 0;
            font-size: 18px;
            text-align: center;
            display: inline-block;
        }
        .btn-close {
            background: transparent;
            border: 0;
            position: absolute;
            right: 5px;
            top: 4px;
        }
    }
    .login-form {
        display: flex;
        flex-direction: column;
        height: calc(100% - 34px);
        justify-content: flex-start;
        h3 {
            margin: 8px 0;
            font-size: 14px;
            text-align: center;
        }
    }
    input[type=text], input[type=password] {
        width: 280px;
        background-color: $river-bed;
        color: $white;
        font-family: $font-main;
        font-size: 14px;
        font-weight: 500;
        border-radius: 5px;
        border: none;
        height: 38px;
        padding: 0 14px;
        margin: 0 auto 5px;
        display: inline-block;
        box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.75);
    }
    button.submit {
        border: 1px solid $white;
        background-color: transparent;
        width: 120px;
        height: 30px;
        border-radius: 5px;
        color: $white;
        font-family: $font-main;
        font-size: 14px;
        font-weight: 500;
        margin: 5px auto 5px;
    }
}
.panel {
    position: absolute;
    min-width: 320px;
    width: 100%;
    min-height: 196px;
    height: 196px;
    padding: 0 15px;
    background-color: $bright-gray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-transform: uppercase;
    transition: transform 0.3s linear;
    .panel-body {
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .panel-head {
        h2 {
            font-size: 18px;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 3px;
        }
        h3 {
            font-size: 14px;
            text-align: center;
            color: $silver;
            margin: -5px 0 0;
        }
    }
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .grid {
        display: grid;
        grid-template-columns: 64px 30px 60px 60px 60px;
        grid-template-rows: 20px 24px 24px 24px 24px;
        grid-column-gap: 4px;
        grid-row-gap: 4px;
        h3, h4 {
            margin: 0;
            align-self: center;
        }
        .title-row.col-1 {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        .col-min, .col-hr, .col-day {
            justify-self: center;
        }
        .col-1 {
            grid-column-start: 1;
            grid-column-end: 2;
        }
        .col-inout {
            grid-column-start: 2;
            grid-column-end: 3;
        }
        .col-min {
            grid-column-start: 3;
            grid-column-end: 4;
        }
        .col-hr {
            grid-column-start: 4;
            grid-column-end: 5;
        }
        .col-day {
            grid-column-start: 5;
            grid-column-end: 6;
        }
        .row-bytes.col-1 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 4;
        }
        .row-packets.col-1 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 4;
            grid-row-end: 6;
        }
        .led-display {
            width: 60px;
            height: 24px;
            font-size: 12px;
            font-weight: 500;
        }

    }
    h3 {
        font-size: 14px;
        .silver {
            color: $silver;
        }
    }
    h4 {
        margin: 0;
        text-align: right;
        font-size: 12px;
        color: $silver;
        font-weight: 500;
    }
    .connection-progress {
        display: flex;
        justify-content: space-between;
        width: 176px;
    }
    .connection-stage {
        height: 20px;
        .device-icon {
            height: 19px;
        }
    }
    .connection-status {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        svg.loading-lights {
            width: 20px;
            height: 4px;
            rect.light {
                fill: $dusty-gray;
            }
        }

        &.on {
            svg.loading-lights rect.light {
                fill: $green;
            }
        }
        &.connecting {
            svg.loading-lights rect.light {
                fill: $green;
                animation-name: blink;
                animation-duration: 1.4s;
                animation-iteration-count: infinite;
                animation-fill-mode: both;
                &:nth-child(2) {
                    animation-delay: .2s;
                }
                &:nth-child(3) {
                    animation-delay: .4s;
                }
            }
        }
        &.error {
            svg.loading-lights rect.light {
                fill: $red;
                animation-name: blink;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-fill-mode: both;
            }
        }

    }
    .led-display {
        border: 1px solid $dove-gray;
        border-radius: 5px;
        height: 30px;
        width: 100px;
        background-color: $bright-gray;
        box-shadow: inset 0px 0px 6px 3px darken($bright-gray, 5%);
        font-size: 14px;
        text-align: center;
        font-weight: 700;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        &.blue {
            background-color: $sky-blue;
            box-shadow: inset 0px 0px 6px 3px darken($sky-blue, 20%);
            color: $woodsmoke;
        }
        &.green {
            background-color: $green;
            box-shadow: inset 0px 0px 6px 3px darken($green, 15%);
            color: $woodsmoke;
        }

    }
    .display-wrapper {
        .in, .out {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 4px;
            h4 {
                margin-right: 4px;
            }
        }
    }
    &.panel-home {
        .row {
            justify-content: space-between;
            align-items: center;
        }
    }
    &.next {
        transform: translateX(100%);
    }
    &.current {
        transform: translateX(0%);
    }
    &.prev {
        transform: translateX(-100%);
    }
}

.about {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding: 15px;
    background-color: $shark;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 0.3s linear;
    z-index: 100;
    &.show {
        transform: translateY(0);
    }
    .title {
        border-bottom: 1px solid $white;
        padding: 0 0 10px;
        .logo {
            width: 240px;
            height: 26px;
        }
        h4 {
            font-size: 12px;
            text-align: center;
            margin: 0;
            font-weight: 400;
        }
    }
    .patents {
        border-bottom: 1px solid $white;
        padding-top: 8px;
        p {
            font-size: 15px;
            margin: 0 0 8px;
        }
    }
    .location {
        padding: 8px 0 4px;
        
        p {
            font-size: 12px;
            margin: 0 0 4px;
        }
    }
    .btn.close {
        color: $white;
        text-transform: uppercase;
        font-family: $font-main;
        font-size: 14px;
        font-weight: 500;
        padding: 4px 12px;
        border: 1px solid $white;
        border-radius: 5px;
        background: $shark;
    }
}
#cng_status_in,
#cng_status_out,
#ang_time_in,
#ang_time_out {
    text-transform: none;
}
.indicator {
    .bar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 4px 0;
    }
    .indicator-light {
        width: 13px;
        height: 20px;
        border: 1px solid $dove-gray;
        border-radius: 3px;
        margin-left: 4px;
        background-color: $bright-gray;
        box-shadow: inset 0px 0px 6px 3px darken($bright-gray, 5%);
        // &.green {
        //     background-color: $green;
        //     box-shadow: inset 0px 0px 6px 3px darken($green, 5%);
        // }
        // &.yellow {
        //     background-color: $yellow;
        //     box-shadow: inset 0px 0px 6px 3px darken($yellow, 5%);
        // }
        // &.red {
        //     background-color: $crimson;
        //     box-shadow: inset 0px 0px 6px 3px darken($crimson, 5%);
        // }
        &.on {
            &.c-0 { background-color: $grad-0; box-shadow: inset 0px 0px 6px 3px darken($grad-0, 5%); }
            &.c-1 { background-color: $grad-1; box-shadow: inset 0px 0px 6px 3px darken($grad-1, 5%); }
            &.c-2 { background-color: $grad-2; box-shadow: inset 0px 0px 6px 3px darken($grad-2, 5%); }
            &.c-3 { background-color: $grad-3; box-shadow: inset 0px 0px 6px 3px darken($grad-3, 5%); }
            &.c-4 { background-color: $grad-4; box-shadow: inset 0px 0px 6px 3px darken($grad-4, 5%); }
            &.c-5 { background-color: $grad-5; box-shadow: inset 0px 0px 6px 3px darken($grad-5, 5%); }
            &.c-6 { background-color: $grad-6; box-shadow: inset 0px 0px 6px 3px darken($grad-6, 5%); }
            &.c-7 { background-color: $grad-7; box-shadow: inset 0px 0px 6px 3px darken($grad-7, 5%); }
            &.c-8 { background-color: $grad-8; box-shadow: inset 0px 0px 6px 3px darken($grad-8, 5%); }
            &.c-9 { background-color: $grad-9; box-shadow: inset 0px 0px 6px 3px darken($grad-9, 5%); }
            &.green { background-color: $green; box-shadow: inset 0px 0px 6px 3px darken($green, 5%); }
            &.red { background-color: $crimson; box-shadow: inset 0px 0px 6px 3px darken($crimson, 5%); }
            &.yellow { background-color: $yellow; box-shadow: inset 0px 0px 6px 3px darken($yellow, 5%); }
        }
    }
}
.load {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding: 15px;
    background-color: $shark;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 0.3s linear;
    z-index: 100;
    &.loading {
        transform: translateY(0);
    }
    .flag-logo {
        width: 240px;
        height: 140px;
    }
}

@media screen and (min-width: 1024px) {
    .nav {
        bottom: auto;
        top: 0;
        flex-direction: row;
        border-bottom: 1px solid $bright-gray;
        height: 68px;
        padding: 0 20px;
        .button-wrapper {
            .nav-buttons {
                display: none;
            }
        }
        .logo {
            width: 240px;
            height: 26px;
        }
    }

    button.admin {
        border: 1px solid $white;
        border-radius: 5px;
        height: 36px;
        font-size: 18px;
        padding: 0 12px;
        .admin-icon {
            width: 20px;
            height: 18px;
            margin-left: 8px;
        }
    }

    
    .content-panels {
        margin-top: 68px;
        padding: 30px 15px 0;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }
    .admin-panels {
        margin-top: 68px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }
    .panel {
        max-width: 320px;
        border-radius: 5px;
        position: initial;
        margin-bottom: 30px;
        &.next,  &.current, &.prev {
            transform: none;
        }
    }
    
}

@media screen and (min-width: 1280px) {
    .main {
        left: calc(50% - 640px);
    }
}

@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}